@import "tailwindcss";
@plugin "daisyui";

/* transição suave entre temas */
html.theme-transition,
html.theme-transition * {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}
