@import "tailwindcss";
@plugin "daisyui";

/* ======== GLOBAL ======== */

html,
body {
  overflow-x: hidden;
}

/* ======== TÍTULOS REUTILIZÁVEIS ======== */
@layer components {
  .section-title {
    @apply text-center text-gray-700 font-bold uppercase tracking-[0.15em] text-2xl sm:text-2xl relative pb-2;
  }

  .section-title::after {
    content: "";
    @apply block w-24 sm:w-62 h-px bg-gray-400 mx-auto mt-2;
  }
}

/* ======== LINKS ======== */

.nav-link {
  @apply transition font-light tracking-wide hover:text-sky-400;
}

.icon-link {
  @apply transition cursor-pointer hover:text-sky-400;
}

/* ===================== ANIMAÇÕES ========================== */

/* BACKDROP */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}
